doctype html
head
	title nihil novum
	link(rel='stylesheet', href='./stylesheets/style.css')
	link(rel='shortcut icon', href='./ico/favicon.ico')
body
	header#header.highlighted
		h1 Christina Laverentz
	nav
		ul
			li Experience
			li Education
			li Etc.
	#content-wrapper
		#content
			section#exp
				h2.highlighted Experience
				.item 
					span.name Special Projects Intern
					|, Wolfram Research, 
					span.date September 2013 - January 2014
					p 
						| Researched best practices for making interactive, digital
						|  STEM graphics accessible to visually-impaired users.
				.item
					span.name Archives Intern
					| , City of Somerville, City Clerk Department, 
					span.date September 2013 - January 2014
					p
						| Processed files for archives. Assisted with configuration 
						| of DSpace repository.
				.item
					span.name Barista / Customer Service Trainer
					| , Diesel Cafe, 
					span.date April 2011 - September 2013
					p Provided delicious, aesthetically appealing, locally-sourced food and beverages to the Davis Square community. 
					p
						span.date January 2012
						| : Promoted to 
						span.name Customer Service Trainer
						| . Identified and addressed customer service needs. 
						| Ran customer service trainings for staff members who work 
						| directly with customers. 
				.item
					span.name Development Programmer
					| , MEDITECH, 
					span.date September 2006 - April 2011
					ul
						li Coded bug fixes and enhancements for General Financials applications: 
							ul
								li Materials Management (MM)
								li Accounts Payable (AP)
								li General Ledger (GL)
								li Fixed Assets (FA)
						li Collaborated with design team to maximize usability and efficiency of new functionality
						li Coded in each of MEDITECH's proprietary languages (NPR, C/S, FS and M-AT)
						li Developed utility software for use throughout MEDITECH
						li
							span.date 2010
							| : Selected to mentor a new programmer in General Financials Development group
						li
							span.date 2010
							| : Transferred to M-AT MM group to build the next incarnation of MM
				.item
					span.name Program Coordinator / AmeriCorps*VISTA
					| , Horizons for Homeless Children, Playspace Programs, Northeast Region,  
					span.date August 2005 - August 2006
					ul
						li Assisted with design, installation and maintenance of Playspaces (play rooms in family shelters)
						li Recruited, trained and supported volunteers
						li Wrote PSAs and letters in local newspapers requesting volunteers and donations for Playspaces
						li Inventoried and distributed donations of toys and supplies
				.item
					span.name Visual Resources Intern
					| , Oberlin College Art Library, 
					span.date August 2004 - May 2005
					p.
						Scanned digital images from slides. Performed image 
						post-processing to optimize image quality. Entered image 
						metadata.
			section#edu
				h2.highlighted Education
				.item
					span.name Oberlin College
					| , B.A., Pure Mathematics, 
					span.date Graduated 2005
			section#Etc
				h2.highlighted Etc.
				.item
					strong Other skills / interests / achievements:
					ul
						li 
							| Intermediate level fluency with HTML5, CSS3, Javascript,
							|  jQuery, PHP, Java, Django, Node.js, Express, Jade and Stylus
						li
							| Four Square World Champion, Women's division,
							span.date  2011
						li Amateur bike mechanic
	footer
		| &copy Christina Laverentz 2014 
		a(href="mailto:claveren@gmail.com") claveren@gmail.com





		

