#intro {
  width: 100px;
  float: left;
}
#board {
  float: left;
  border: 2px solid #000;
  padding: 0 5px 5px 0;
  margin: 10px;
}
.card {
  width: 150px;
  height: 100px;
  border: 2px solid #000;
  -moz-box-shadow: 5px 5px 5px;
  -webkit-box-shadow: 5px 5px 5px;
  background-color: DarkTurquoise;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  margin: 30px 40px 20px 40px;
/* this box-sizing / padding combo adds padding within borders rather than 
	 * enlarging borders
	 */
  box-sizing: border-box;
  padding: 3px 30px 0 30px;
}
.card.up {
/* FINALLY a combo that works
		 * use with background-position to specify section of bkg image to show.
		 * neg px values pull image to the left, displaying areas to the right.
		 * pos px values pull the img to the right, displaying areas to the left.
		 * pulling past a side wraps back around to the other side.
		 */
  background-image: url("../res/memory cards.gif");
  background-clip: content-box;
  background-origin: content-box;
}
.up.orange.circle {
  background-position: -90px 0;
}
.up.orange.square {
  background-position: -90px -90px;
}
.up.orange.triangle {
  background-position: -90px 180px;
}
.up.orange.star {
  background-position: -90px 90px;
}
.up.purple.circle {
  background-position: 180px 0;
}
.up.purple.square {
  background-position: 180px -90px;
}
.up.purple.triangle {
  background-position: 180px 180px;
}
.up.purple.star {
  background-position: 180px 90px;
}
aside {
  float: left;
  font-size: 30px;
  padding: 5px;
}
aside #ftw {
  width: 150px;
  font-weight: bold;
  margin-top: 10px;
}
button {
  -moz-box-shadow: 10px 10px 5px 0 DarkGray;
  -webkit-box-shadow: 10px 10px 5px 0 DarkGray;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  border: 2px solid #fff;
  background-color: #ff8c00;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  padding: 13px 32px;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
}
button:hover {
  background: -webkit-linear-gradient(top #408c99 5% #ff8c00 100%);
  background: -moz-linear-gradient(top #408c99 5% #ff8c00 100%);
  background: -ms-linear-gradient(top #408c99 5% #ff8c00 100%);
  background: -o-linear-gradient(top #408c99 5% #ff8c00 100%);
  background: linear-gradient(top #408c99 5% #ff8c00 100%);
}
button:active {
  position: relative;
  top: 1px;
}
