$border = 2px solid black

#intro
	width: 100px
	float: left

#board
	float: left
	border: $border
	padding: 0 5px 5px 0
	margin: 10px

.card
	width: 150px
	height: 100px
	border: $border
	box-shadow: 5px 5px 5px
	background-color: DarkTurquoise
	border-radius: 5px
	float: left
	margin: 30px 40px 20px 40px
	/* this box-sizing / padding combo adds padding within borders rather than 
	 * enlarging borders
	 */
	box-sizing: border-box
	padding: 3px 30px 0 30px

	&.up
		/* FINALLY a combo that works
		 * use with background-position to specify section of bkg image to show.
		 * neg px values pull image to the left, displaying areas to the right.
		 * pos px values pull the img to the right, displaying areas to the left.
		 * pulling past a side wraps back around to the other side.
		 */
		 background-image: url('../res/memory cards.gif')
		 background-clip: content-box
		 background-origin: content-box

.up
	&.orange
		&.circle
			background-position: -90px 0
		&.square
			background-position: -90px -90px
		&.triangle
			background-position: -90px 180px
		&.star
			background-position: -90px 90px
	&.purple
		&.circle
			background-position: 180px 0
		&.square
			background-position: 180px -90px
		&.triangle
			background-position: 180px 180px
		&.star
			background-position: 180px 90px

aside
	float: left
	font-size: 30px
	padding: 5px
	
	#ftw
		width: 150px
		font-weight: bold
		margin-top: 200px
