$border = 2px solid black

box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments

btn-background-linear-gradient()
	background -webkit-linear-gradient(arguments)
	background -moz-linear-gradient(arguments)
	background -ms-linear-gradient(arguments)
	background -o-linear-gradient(arguments)
	background linear-gradient(arguments)

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

#intro
	width: 100px
	float: left

#board
	float: left
	border: $border
	padding: 0 5px 5px 0
	margin: 10px

.card
	width: 150px
	height: 100px
	border: $border
	box-shadow: 5px 5px 5px
	background-color: DarkTurquoise
	border-radius: 5px
	float: left
	margin: 30px 40px 20px 40px
	/* this box-sizing / padding combo adds padding within borders rather than 
	 * enlarging borders
	 */
	box-sizing: border-box
	padding: 3px 30px 0 30px
	cursor pointer

	&.up
		/* FINALLY a combo that works
		 * use with background-position to specify section of bkg image to show.
		 * neg px values pull image to the left, displaying areas to the right.
		 * pos px values pull the img to the right, displaying areas to the left.
		 * pulling past a side wraps back around to the other side.
		 */
		 background-image: url('../res/memory cards.gif')
		 background-clip: content-box
		 background-origin: content-box

.up
	&.orange
		&.circle
			background-position: -90px 0
		&.square
			background-position: -90px -90px
		&.triangle
			background-position: -90px 180px
		&.star
			background-position: -90px 90px
	&.purple
		&.circle
			background-position: 180px 0
		&.square
			background-position: 180px -90px
		&.triangle
			background-position: 180px 180px
		&.star
			background-position: 180px 90px

aside
	float left
	font-size 30px
	padding 5px
	
	#ftw
		width 150px
		font-weight bold
		margin-top 10px

button
	box-shadow(10px 10px 5px 0 DarkGray)
	border-radius(10%)
	border 2px solid white
	background-color #ff8c00
	display inline-block
	cursor pointer
	color white
	padding 13px 32px
	font-size 0.75em
	font-weight bold
	text-decoration none

	&:hover
		btn-background-linear-gradient(top, #408c99 5%, #ff8c00 100%)
	
	&:active
		position relative
		top 1px	
